<footer class="footer">
  <div class="container footer__container">

    <div class="footer__left">
      <p class="footer__nav-title">Быстрая навигация</p>

      <ul class="footer__nav">
        <li><a href="#">Цифры</a></li>
        <li><a href="#">Сделки онлайн</a></li>
        <li><a href="#">О компании</a></li>
        <li><a href="#">TradeBlad это</a></li>
        <li><a href="#">Тарифы</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>

    <div class="footer__divider"></div>

    <div class="footer__right">
      <img src="../images/logo.png" alt="TradeBlade Logo" class="footer__logo">
      <p class="footer__copy">© 2022 TradeBlade. All rights reserved</p>
    </div>

  </div>
</footer>
