<header class="header">

  <div class="container">
    <div class="header__row">

      <a class="logo" href="index.html" aria-label="На главную">
        <img src="../images/logo.png" alt="Trade Blade Logo">
      </a>

      <nav class="header__nav" aria-label="Главное меню">
        <ul>
          <li><a href="#numbers">Цифры</a></li>
          <li><a href="#past-trades">Сделки онлайн</a></li>
          <li><a href="#about">О компании</a></li>
          <li><a href="#how-start">Как начать</a></li>
          <li><a href="#tariffs">Тарифы</a></li>
          <li><a href="#faq">Отзывы</a></li>
          <li><a href="#faq">FAQ</a></li>
        </ul>
      </nav>

      <div class="header__buttons">
        <button class="menu__btn-login">Вход</button>
        <button class="menu__btn-register">Регистрация</button>
      </div>

      <button class="burger" aria-label="Открыть меню">
        <span></span>
        <span></span>
        <span></span>
      </button>

    </div>
  </div>

  <div class="mobile-menu">
    <button class="mobile-menu__close" aria-label="Закрыть меню">×</button>

    <nav class="mobile-menu__nav">
      <a href="#numbers">Цифры</a>
      <a href="#past-trades">Сделки онлайн</a>
      <a href="#about">О компании</a>
      <a href="#how-start">Как начать</a>
      <a href="#tariffs">Тарифы</a>
      <a href="#faq">Отзывы</a>
      <a href="#faq">FAQ</a>
    </nav>

    <div class="mobile-menu__buttons">
      <button class="mobile-menu__btn-register">Регистрация</button>
      <button class="mobile-menu__btn-login">Войти</button>
    </div>
  </div>

</header>
