<header class="header">
  <div class="container header__row">
    <a class="logo" href="#" aria-label="На главную">
      <img src="../images/logo.png" alt="Trade Blade Logo">
    </a>

    <nav class="header__nav" aria-label="Главное меню">
      <ul>
        <li><a href="#">Цифры</a></li>
        <li><a href="#">Сделки онлайн</a></li>
        <li><a href="#">Как начать</a></li>
        <li><a href="#">Тарифы</a></li>
        <li><a href="#">Отзывы</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </nav>

    <div>
      <button class="menu__btn-login">Вход</button>
      <button class="menu__btn-register">Регистрация</button>
    </div>
  </div>
</header>