:root {
    --bg-main-dark: #030718;
    --bg-main-light: #FFFFFF;
    --bg-card: #6A54FF;
    --text-main: #ffffff;
    --text-dark: #000000;
    --text-muted: #030718;
    --accent: #57E1FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.6;
    color: var(--bg-main-dark);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 20px; 
}